<% ambiente = @ambiente %>
<h1><%= ambiente.nome %></h1>
<div id="prateleiras_horizontais">
  <table>
    <tr>
      <% ambiente.prateleiras.horizontais.sort.each do |ph| %>
          <td >
            <div id="prateleira_<%= ph.id %>" class="prateleira horizontal" style="<%= ph.id == @prateleira.id ? "#{ph.style}" : ph.style  %>">
            </div>
          </td>
      <% end %>
    </tr>

  </table>
</div>

<div id="prateleiras_verticais">
  <table >
    <tr>
      <% ambiente.prateleiras.verticais.sort.each do |ph| %>
          <td >
            <div id="prateleira_<%= ph.id %>" class="prateleira vertical" style="<%= ph.style %>"></div>
          </td>
      <% end %>
    </tr>
  </table>
</div>

<div id="ambiente" class="ambiente">
  <table>
    <% (1..6).each do |x| %>
        <tr>
          <% (1..6).each do |y| %>
              <td id="dop_in_<%= x %>_<%= y %>" class="ambiente_interno " value="{:x => <%= x %>,:y => <%= y %>}"></td>
          <% end %>
        </tr>
    <% end %>

  </table>

</div>
