<% ambiente = @ambiente %>
<h1><%= ambiente.nome %></h1>

<div id="prateleiras_horizontais">
  <table >
    <tr>
      <% ambiente.prateleiras.horizontais.sort.each do |ph| %>
          <td title="<%= ph.descricao %>" >
            <div id="prateleira_<%= ph.id %>" class="prateleira_drag prateleira horizontal" style="<%= ph.style %>"><%= ph.abreviado 1 %>
            </div>
          </td>
      <% end %>
    </tr>

  </table>
</div>

<div id="prateleiras_verticais">
  <table>
    <tr>
      <% ambiente.prateleiras.verticais.sort.each do |ph| %>
          <td title="<%= ph.descricao %>" >
            <div id="prateleira_<%= ph.id %>" class="prateleira_drag prateleira vertical" style="<%= ph.style %>"><%= ph.abreviado 1 %></div>
          </td>
      <% end %>
    </tr>
  </table>
</div>

<div id="ambiente" class="ambiente">
  <table>
    <% (1..6).each do |x| %>
        <tr>
          <% (1..6).each do |y| %>
              <td id="dop_in_<%= x %>_<%= y %>" class="drop ambiente_interno" value="{:x => <%= x %>,:y => <%= y %>}"></td>
          <% end %>
        </tr>
    <% end %>

  </table>

</div>
