<h2>Prateleira <%= @prateleira.descricao %></h2>
<table>
  <% marca_nivel = @selecionada == "true" %>
  <% @prateleira.niveis.each_with_index do |n, q| %>
      <%= puts @nivel.inspect    %>
          <%=puts n.inspect    %>
      <tr>
        <td>
          <% if (q + 1) == 1 %>
              <div>
                <%= image_tag("prateleira_topo.png", :size => "138x63") %>
              </div>
          <% elsif (q + 1) == @prateleira.quantidade_de_niveis %>
              <div style="margin-top: -8px">
                <%= image_tag("prateleira_fim.png", :size => "135x63") %>
              </div>
          <% else %>
              <div style="margin-top: -30px;">
                <%= image_tag("prateleira_meio.png", :size => "138x63") %>
              </div>
          <% end %>
        </td>
        <td>
          <div style="margin-top: -30px">
            <%= image_tag("seta.jpg", :size => "60x40") if ((@nivel.numero == n.numero) && (marca_nivel)) %>
          </div>
        </td>
      </tr>
  <% end %>

</table>