<h2>Prateleira <%= @prateleira.descricao %></h2>
<table>
  <% marca_nivel = @selecionada == "true" %>
  <% @prateleira.niveis.each_with_index do |n, q| %>
      <tr>
        <td>
          <% if (q + 1) == 1 %>
              <div>
                <%= image_tag("prateleiras/#{@prateleira.imagem}_topo.png", :size => "138x63") %>
              </div>
          <% elsif (q + 1) == @prateleira.quantidade_de_niveis %>
              <div style="margin-top: -8px">
                <% tamanho = @prateleira.imagem == 'prateleira_metal' ? 134 : 138 %>
                <%= image_tag("prateleiras/#{@prateleira.imagem}_fim.png", :size => "#{tamanho}x60") %>
              </div>
          <% else %>
              <div style="margin-top: -30px;">
                <%= image_tag("prateleiras/#{@prateleira.imagem}_meio.png", :size => "138x63") %>
              </div>
          <% end %>
        </td>
        <td>
          <div style="margin-top: -30px">
            <%= image_tag("seta.jpg", :size => "60x40") if ((@niveis.include? n) && (marca_nivel)) %>
          </div>
        </td>
        <td>
          <div style="margin-top: -25px">
            <%= "Nivel #{n.numero}" if ((@niveis.include? n) && (marca_nivel)) %>
          </div>
        </td>
      </tr>
  <% end %>

</table>
