<% ambiente = @ambiente %>
<%= hidden_field_tag('produto_id', @produto.id) %>
<h1><%= ambiente.nome %></h1>
<div id="prateleiras_horizontais">
  <table>
    <tr>
      <% ambiente.prateleiras.horizontais.sort.each do |ph| %>
          <td >
            <div selecionada="<%= @prateleiras.include?(ph.id) %>" id="prateleira_<%= ph.id %>" class="click prateleira horizontal" style="height: <%=ph.largura_em_pixels %>px; width: <%=ph.comprimento_em_pixels %>px;<%= @prateleiras.include?(ph.id)  ? "#{ph.style} background-color: blue" : ph.style  %>">
            </div>
          </td>
      <% end %>
    </tr>

  </table>
</div>

<div id="prateleiras_verticais">
  <table >
    <tr>
      <% ambiente.prateleiras.verticais.sort.each do |pv| %>
          <td >
            <div  selecionada="<%= @prateleiras.include?(pv.id) %>" id="prateleira_<%= pv.id %>" class="click prateleira vertical" style="height: <%=pv.largura_em_pixels %>px; width: <%=pv.comprimento_em_pixels %>px; <%= @prateleiras.include?(pv.id) ? "#{pv.style} background-color: blue" : pv.style %>"></div>
          </td>
      <% end %>
    </tr>
  </table>
</div>

<div class="drop " style="height: <%=ambiente.largura_em_pixels %>px; width: <%=ambiente.comprimento_em_pixels %>px; background-color: #999999;">

</div>
